# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Editores
.vscode/
.idea/
.DS_Store

# NO ignorar uv.lock ni .python-version -> deben ir a git

# pytest
.pytest_cache/
.coverage
htmlcov/

# ruff
.ruff_cache/

# temporal de make-icon.sh (solo queda si el script falla a medias)
icon.iconset/
